/*----------------------Custom Variables-----------------------------------*/
// Create your own map
$custom-colors: (
  'bg-black': #121212,
  'bg-black-contrast': #353535,
  'bg-light': #fff,
  'bg-light-contrast': rgb(206, 206, 206),
  'spring-green': #ff7d00,
);

$font-family-sans-serif: 'Rubik', sans-serif;

$border-radius: 0.7rem;
$border-radius-lg: 0.5rem;
$border-radius-sm: 0.3rem;

$enable-responsive-font-sizes: true;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root {
  --bg-color: #f4f4f4;
  --bg-transparent-color: #e3e3e3d2;
  --bg-contrast-color: #e3e3e3;
  --text-color: #000;
  --text-lead: #848484;

  --brand-purple: #ca3ffb;
  --amber-sae-ece: #ff7d00ff;

  --border-radius: 0.7rem;
  --navbar-height: 8vh;
  --lh: 1.2rem;
}

[data-theme='dark'] {
  --bg-color: #1f1f1f;
  --bg-transparent-color: #39393bc2;
  --bg-contrast-color: #39393b;
  --text-color: #fff;
}

html,
body {
  height: 100vh;
  line-height: var(--lh);
  background-color: var(--bg-color);
}

.App {
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: all 0.2s;
}

* {
  color: var(--text-color);
  transition: all 0.2s;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--bg-contrast-color);
}

*::-webkit-scrollbar-thumb {
  border-radius: $border-radius;
  background-color: var(--text-lead);
  transition: 0.3s;
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: var(--amber-sae-ece);
  transition: 0.3s;
}

*::-webkit-scrollbar-track {
  border-radius: $border-radius;
  background-color: var(--bg-contrast-color);
}

input,
select,
textarea {
  color: var(--text-color) !important;
}

textarea:focus,
input:focus {
  color: var(--text-color) !important;
}

.decoration-none {
  text-decoration: none;
}

/*---------------------------------ANIMATIONS----------------------------------------------*/

@keyframes pulse {
  0% {
    background: var(--bg-color);
    transform: scale(1);
  }

  25% {
    background: var(--bg-contrast-color);
    transform: scale(1.015);
  }

  50% {
    background: var(--bg-color);
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
